<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator{/block}

<!-- 自定义css -->
{block name="css"}{/block}

<!-- 内容区域 -->
{block name="content"}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class=""><a href="{:url('admin/site/index')}">{:lang('Sites')}</a></li>
      <li class="active"><a href="#">{:lang('Create')}</a></li>
      <li class="pull-right"><a href="javascript:history.back(-1);" class="text-muted"><i class="fa fa-chevron-circle-left"></i></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <form role="form" id="operate">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-solid no-border">
                        <div class="box-body">
                            <div class="form-group">
                              <label>{:lang('Status')}</label>
                              <div class="row">
                              <div class="col-md-12">
                                <div class="radio">
                                    <label class="radio-inline">
                                        <input type="radio" name="status" value="0"> {:lang('ON')}
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="status" value="1"> {:lang('OFF')}
                                    </label>
                                </div>
                              </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>{:lang('Image')} <span class="text-red">*</span></label>
                              <div class="row">
                              <div class="col-md-12">
                                <div class="layui-upload-drag" id="logo">
                                  <input type="hidden" name="logo">
                                  <div class="layui-upload-list" id="preview">
                                  <p>{:lang('Upload')}</p>
                                  </div>
                                </div>
                              </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>{:lang('Name')} <span class="text-red">*</span></label>
                              <div class="row">
                              <div class="col-md-8">
                              <input type="text" name="name" class="form-control input-sm" placeholder="">
                              </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>{:lang('Domain')} <span class="text-red">*</span></label>
                              <div class="row">
                              <div class="col-md-8">
                              <input type="text" name="domain" class="form-control input-sm" placeholder="">
                              </div>
                              </div>
                              <p class="help-block">{:lang('Example')}：http://www.19981.com</p>
                            </div>
                            <div class="form-group">
                              <label>{:lang('Theme')} <span class="text-red">*</span></label>
                              <div class="row">
                              <div class="col-md-8">
                                  <select name="theme" class="form-control input-sm">
                                    {volist name="theme" id="vo"}
                                    <option value="{$vo.name}">
                                        {$vo.name}
                                    </option>
                                    {/volist}
                                  </select>
                              </div>
                              </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-solid no-border">
                        <div class="box-body">
                            <div class="form-group">
                              <label>{:lang('Title')}</label>
                              <div class="row">
                              <div class="col-md-8">
                              <input type="text" name="title" class="form-control input-sm" placeholder="">
                              </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>{:lang('Keywords')}</label>
                              <div class="row">
                              <div class="col-md-8">
                              <input type="text" name="keywords" class="form-control input-sm" placeholder="">
                              </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>{:lang('Description')}</label>
                              <div class="row">
                              <div class="col-md-8">
                              <textarea class="form-control input-sm" name="description" rows="3" placeholder=""></textarea>
                              </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>{:lang('Copyright')}</label>
                              <div class="row">
                              <div class="col-md-8">
                              <textarea class="form-control input-sm" name="copyright" rows="3" placeholder=""></textarea>
                              </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>{:lang('ICP')}</label>
                              <div class="row">
                              <div class="col-md-8">
                              <input type="text" name="icp" class="form-control input-sm" placeholder="">
                              </div>
                              </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
    <div class="box-footer">
        <div class="btn-group">
            <button class="btn btn-primary btn-flat" onclick="operate();" type="button"> {:lang('Save')}</button>
        </div>
    </div>
  </div>
{/block}

<!-- 自定义js -->
{block name="js"}
<script type="text/javascript">
layui.use('upload', function(){
  var $ = layui.jquery
  ,upload = layui.upload;
  //拖拽上传
  upload.render({
    elem: "#logo"
    ,accept: 'image'
    ,multiple: false
    ,number: 1
    ,url: "{:url('admin/upload/uploadFile')}"
    ,done: function(res){
      if (res.code == 200) {
        $("[name='logo']").val(res.data.url);
        $("#preview").html("<img class=\'layui-upload-img img-responsive\' src=\'"+res.data.url+"\'>");
      } else {
        swal({
          position: 'center',
          type: 'error',
          title: res.msg,
          showConfirmButton: false,
          toast:false,
          timer: 2000
        });
      }
    }
  });
  
});
</script>
<script type="text/javascript">
    function operate(){
        $.ajax({
            url:"{:url('admin/site/create')}",
            data:$("#operate").serialize(),
            type:'post',
            dataType:'json',
            success:function(xhr){
                if(xhr.code == 200){
                    swal({
                      position: 'center',
                      type: 'success',
                      title: xhr.msg,
                      showConfirmButton: false,
                      toast:false,
                      timer: 2000
                    });
                } else{
                    swal({
                      position: 'center',
                      type: 'error',
                      title: xhr.msg,
                      showConfirmButton: false,
                      toast:false,
                      timer: 2000
                    });
                }
            }
        });
    }

</script>
{/block}