<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator{/block}

<!-- 自定义css -->
{block name="css"}{/block}

<!-- 内容区域 -->
{block name="content"}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class=""><a href="{:url('admin/link/index')}">{:lang('Link')}</a></li>
      <li class=""><a href="{:url('admin/link/create')}">{:lang('Create')}</a></li>
      <li class="active"><a href="{:url('admin/link/category')}">{:lang('Category')}</a></li>
      <li class="pull-right"><a href="javascript:history.back(-1);" class="text-muted"><i class="fa fa-chevron-circle-left"></i></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <form role="form" id="operate">
            <div class="form-group">
              <label>{:lang('Name')} <span class="text-red">*</span></label>
              <div class="row">
              <div class="col-md-6">
              <input type="hidden" name="id" value="{$info.id}">
              <input type="text" name="name" value="{$info.name}" class="form-control input-sm" placeholder="">
              </div>
              </div>
            </div>
            <div class="form-group">
              <label>{:lang('Url')} <span class="text-red">*</span></label>
              <div class="row">
              <div class="col-md-6">
              <input type="text" name="url" value="{$info.url}" class="form-control input-sm" placeholder="">
              </div>
              </div>
            </div>
            <div class="form-group">
              <label>{:lang('Category')} <span class="text-red">*</span></label>
              <div class="row">
              <div class="col-md-4">
              <select name="cid" class="form-control">
                <option>--{:lang('Select')}--</option>
                {volist name="category" id="vo"}
                <option {eq name="info.cid" value="$vo.id"}selected{/eq} value="{$vo.id}">
                    {$vo.name}
                </option>
                {/volist}
              </select>
              </div>
              </div>
            </div>
            <div class="form-group">
              <label>{:lang('Sort')}</label>
              <div class="row">
              <div class="col-md-4">
              <input type="text" name="sort" value="{$info.sort}" class="form-control input-sm" placeholder="">
              </div>
              </div>
            </div>
            <div class="form-group">
              <label>Logo</label>
              <div class="row">
              <div class="col-md-12">
                <div class="layui-upload-drag" id="logo">
                  <input type="hidden" name="logo" value="{$info.logo}">
                  <div class="layui-upload-list" id="preview">
                      {empty name="info.logo"}
                      <p>{:lang('Upload')}</p>
                      {else /}
                      <img class="layui-upload-img img-responsive" src="{$info.logo}" />
                      {/empty}
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="form-group">
                <label>{:lang('Status')}</label>
                <div class="row">
                    <div class="col-md-12">
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" {eq name="info.status" value="1"}checked{/eq} name="status" value="1"> {:lang('Visible')}
                            </label>
                            <label class="radio-inline">
                                <input type="radio" {eq name="info.status" value="0"}checked{/eq} name="status" value="0"> {:lang('Hidden')}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
    <div class="box-footer">
        <div class="btn-group">
            <button class="btn btn-primary btn-flat" onclick="operate();" type="button"> {:lang('Save')}</button>
        </div>
    </div>
  </div>
{/block}

<!-- 自定义js -->
{block name="js"}
<script>
layui.use('upload', function(){
  var $ = layui.jquery
  ,upload = layui.upload;
  //拖拽上传
  upload.render({
    elem: "#logo"
    ,accept: 'image'
    ,multiple: false
    ,number: 1
    ,url: "{:url('admin/upload/uploadFile')}"
    ,done: function(res){
      if (res.code == 200) {
        $("[name='logo']").val(res.data.url);
        $("#preview").html("<img class=\'layui-upload-img img-responsive\' src=\'"+res.data.url+"\'>");
      } else {
        swal({
          position: 'center',
          type: 'error',
          title: res.msg,
          showConfirmButton: false,
          toast:false,
          timer: 2000
        });
      }
    }
  });
  
});
</script>
<script type="text/javascript">
    function operate(){
        $.ajax({
            url:"{:url('admin/link/edit')}",
            data:$("#operate").serialize(),
            type:'post',
            dataType:'json',
            success:function(xhr){
                if(xhr.code == 200){
                    swal({
                      position: 'center',
                      type: 'success',
                      title: xhr.msg,
                      showConfirmButton: false,
                      toast:false,
                      timer: 2000
                    });
                } else{
                    swal({
                      position: 'center',
                      type: 'error',
                      title: xhr.msg,
                      showConfirmButton: false,
                      toast:false,
                      timer: 2000
                    });
                }
            }
        });
    }

</script>
{/block}