{extend name="public:base" /}
{block name="title"}会员首页{/block}

{block name="content"}
    <section class="content">

        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
              <div class="widget-user-image">
                <img class="img-circle" src="{$member.logo|default='__STATIC__/admin/dist/img/nopic.png'}" alt="User Avatar">
              </div>
              <!-- /.widget-user-image -->
              <h3 class="widget-user-username">{$member.username}</h3>
              <h5 class="widget-user-desc">
              
              {volist name="role" id="vo"}
                [{$vo.role_name}]
              {/volist}
              </h5>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-pills">
                <li><a href="#"><i class="fa fa-fw fa-mobile "></i>{$member.phone|hide_star} </a></li>
                <li><a href="#"><i class="fa fa-fw fa-envelope-o"></i> {$member.email|hide_star}</a></li>
              </ul>
            </div>
        </div>

    </section>
{/block}