<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator{/block}

<!-- 自定义css -->
{block name="css"}{/block}

<!-- 内容区域 -->
{block name="content"}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">日志</a></li>
    </ul>
    <div class="tab-content">

      <!-- /.tab-pane -->
      <div class="tab-pane active table-responsive no-padding">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>{:lang("Account")}</th>
                    <th>IP</th>
                    <th>{:lang("Login time")}</th>
                </tr>
            </thead>
            <tbody>
                {volist name="log" id="vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.username}</td>
                    <td>{$vo.ip}</td>
                    <td>{$vo.create_at|date="Y-m-d H:i:s"}</td>
                </tr>
                {/volist}
                {empty name="log"}
                <tr>
                    <td colspan="5" class="text-center">{:lang("No record")}</td>
                </tr>
                {/empty}
            </tbody>
        </table>
        <div class="box-footer">
          {$log->render()}
        </div>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>
{/block}

<!-- 自定义js -->
{block name="js"}{/block}