<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator{/block}

<!-- 自定义css -->
{block name="css"}{/block}

<!-- 内容区域 -->
{block name="content"}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class=""><a href="{:url('admin/user/index')}">{:lang('Administrator')}</a></li>
      <li class=""><a href="{:url('admin/user/create')}">{:lang('Create')}</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active table-responsive no-padding">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>{:lang('Site name')}</th>
                        <th class="text-right">{$info.username}</th>
                    </tr>
                </thead>
                <tbody>
                    <form id="form">
                    {volist name="list" id="vo"}
                    <tr>
                        <td>{$vo.name}</td>
                        <td class="text-right"><input {in name="vo.id" value="$haiList"}checked{/in} name="ids[]" value="{$vo.id}" type="checkbox"></td>
                    </tr>
                    {/volist}
                    <input type="hidden" name="uid" value="{$info.uid}">
                    </form>
                </tbody>
            </table>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
    <div class="box-footer">
        <div class="btn-group">
            <button class="btn btn-primary btn-flat" onclick="auth();" type="button"> {:lang('Save')}</button>
        </div>
    </div>
  </div>
{/block}

<!-- 自定义js -->
{block name="js"}
<script type="text/javascript">
    function auth(){
        $.ajax({
            url:"{:Url('admin/user/auth')}",
            data:$("#form").serialize(),
            type:'post',
            dataType:'json',
            success: function(xhr){
                if(xhr.code == 200){
                    swal(xhr.msg, "","success");
                }else{
                    swal(xhr.msg, "", "error");
                }
            }
        })
    }
</script>
{/block}